body {
      font-family: "Poppins", sans-serif;
    background-color: #f2f3f5;
      min-height: 100vh;
      display: grid;
      place-items: center;
  
    }
.divbig{
      padding: 80px 60px;
      background-color: white;
      border-radius: 30px;
      width: 100%;
      max-width: 480px; 
      place-items: center;
}
.information{
      margin-top: 10px;

      place-items: center;
      border:1px solid #4391f0;
      border-radius: 20px;
      
      
      
}
.divselection{
      margin-top: 10px;
 
      margin-left: 155px;
      /* columns: #333333;
      background-color: #eeeeee;

      border: 1px solid #dddddd;
      cursor: pointer;
      border-radius: 5px; */
}
select{
      padding:8px 12px;
      columns: #333333;
      background-color: white;
      border: 1px solid #4391f0;
      cursor: pointer;
      border-radius: 5px;
     margin: 10px;
}
.p1{
      margin-left:125px;
}
.p2{
      margin-left:155px;
}
.p3{
      margin-left:135px;
}

.textinfor{
      margin-left: 165px;
}
.name1{
      margin-left: 15px;
}
.name2{
      margin-left: 15px;
}
.name3{
      margin-left: 15px;
}
.text1{
      margin-bottom: 40px;
      margin-left: 36px;

}
.btn_mn {
	background-color:transparent;
	border-radius:17px;
	border:1px solid #4391f0;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:17px;
	
	padding:13px 38px;
      text-decoration:none;
      margin-left: 25px;
	
}
.btn_mn:hover {
	background-color:transparent;
}
.btn_mn:active {
	position:relative;
	top:1px;
}
.btn_auto {
	background-color:transparent;
	border-radius:17px;
	border:1px solid #4391f0;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:17px;
	
	padding:13px 38px;
      text-decoration:none;
      margin-left: 180px;
	
}
.btn_auto:hover {
	background-color:transparent;
}
.btn_auto:active {
	position:relative;
	top:1px;
}
strong{
      color: #4391f0;
}


.modal_ecall{
      display: block; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      
    }
    .modal_content_ecall{
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      height: 50vh;
      border: 1px solid #888;
      width: 30%;
      max-width: 480px;
      box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
      border-radius: 10px;
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s;
     
    }
    .modal_body_ecall{
      text-align-last: center;
    }
 
    .btn1{
	background-color:transparent;
	border-radius:17px;
	border:1px solid #4391f0;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:17px;
	
	padding:13px 38px;
      text-decoration:none;
      
      margin-top: 40px;
	
}
.btn1:hover {
	background-color:transparent;
}
.btn1:active {
	position:relative;
	top:1px;
}
.btn_ecall{
      text-align: center;
    
    }
        
