body {
      font-family: "Poppins", sans-serif;
    background-color: #f2f3f5;
      min-height: 100vh;
      display: grid;
      place-items: center;
  
    }
.divbig{
      padding: 80px 60px;
      background-color: white;
      border-radius: 30px;
      width: 100%;
      max-width: 480px; 
      place-items: center;
}
.information{
      margin-top: 10px;

      place-items: center;
      border:1px solid black;
      border-radius: 20px;
      
      
      
}
.divselection{
      margin-top: 10px;
 
      margin-left: 185px;
      /* columns: #333333;
      background-color: #eeeeee;

      border: 1px solid #dddddd;
      cursor: pointer;
      border-radius: 5px; */
}
select{
      padding:8px 12px;
      columns: #333333;
      background-color: #eeeeee;

      border: 1px solid #dddddd;
      cursor: pointer;
      border-radius: 5px;
     margin: 10px;
}
.p1{
      margin-left:200px;
}
.p2{
      margin-left:205px;
}
.p3{
      margin-left:185px;
}

.textinfor{
      margin-left: 165px;
}
.name1{
      margin-left: 15px;
}
.name2{
      margin-left: 15px;
}
.name3{
      margin-left: 15px;
}
